
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.main-content__top {
  position: fixed;
  top: 0;
  margin-left: -15px;
  width: calc(100% - 277px);
  height: 60px;
  border-bottom: 1px solid #eee;
  background: #fff;
  z-index: 1000;
}

.main-content__title {
  font-size: 1.4em;
  margin: 15px 0 15px 15px;
  border-bottom: none;
}

.main-content__body {
  margin-top: 80px;
}

.float_btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5%;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.form_input_margin {
  margin-left: 2%;
  width: 95%;
}

.error {
  color: red;
  font-style: italic;
}

