
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.main-content__top {
  position: fixed;
  top: 0;
  margin-left: -15px;
  width: calc(100% - 277px);
  height: 60px;
  border-bottom: 1px solid #eee;
  background: #fff;
  z-index: 1000;
}

.main-content__title {
  font-size: 1.4em;
  margin: 15px 0 15px 15px;
  border-bottom: none;
}

.main-content__body {
  margin-top: 80px;
}

button span {
  max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}

button:hover span {
  max-width: 7rem;
}

.float_btn {
  position: fixed;
  bottom: -5px;
  right: -5px;
  text-align: center;
}

.form_input_margin {
  margin-left: 2%;
  width: 95%;
}

.error {
  color: red;
  font-style: italic;
}

.fa-icon-checked {
  color: green;
  size: 10em;
}

.fa-icon-exclamation {
  color: red;
  size: 10em;
}

details summary::-webkit-details-marker {
  cursor: pointer;
}

ul li {
  list-style: none;
}

.table-header-style {
  font-weight: bold;
  font-style: italic;
  font-size: medium;
}