// bootstrap resets
.item_title {
  padding-left: 20px;
  color: #ffffff;
}

.menu_logo {
  border-radius: 3%;
  display: block;
  float: left;
}

.menu_icon {
  font-size: 18px;
  width: 16px;
  text-align: center;
  margin-right: 10px;
}

.menu_icon_large {
  font-size: 24px;
  width: 16px;
  text-align: center;
  margin-right: 10px;
}

.menu_icon_large_danger {
  font-size: 26px;
  width: 16px;
  text-align: center;
  margin-right: 10px;
  color: red;
}

.menu_icon_large_success {
  font-size: 26px;
  width: 16px;
  text-align: center;
  margin-right: 10px;
  color: green;
}

.top-nav {
  background-color: #074880 !important;
}

.sidebar {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #074880;
  overflow-x: hidden;
  padding-top: 110px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
  text-decoration: none;
  background: #2F7B57;
  cursor: pointer;
  transition: all 500ms ease-out;
}

/*active links*/
.sidebar a.router-link-active {
  font-weight: 700;
  background: #FAAB2C;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 550px) {
  .sidebar {
    width: fit-content;
    padding-top: 110px;
  }

  .sidebar a {
    font-size: 18px;
  }
}